Repository albertrdixon/homelab-kubernetes, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, changelog, app/argocd, app/cert-manager, app/coredns, app/metrics-server, app/rook-ceph, app/sops-operator, app/traefik, app/grafana, app/snapshot-controller, app/prometheus, app/minecraft

feat(minecraft): minecraft@local/velocity=0.3.0,minecraft-ingress=2.0.7,config-patches=1.1.0,adventure=3.6.7
  apps/minecraft/helmfile.lock
Labels: app/minecraft

feat(pomerium): pomerium@local/pomerium-tls=1.1.0,pomerium=28.0.2,pomerium-ingress=2.0.7
  apps/pomerium/deploy/local/releases/pomerium/pomerium/templates/redis/password-secret.yaml
  apps/pomerium/helmfile.lock
Labels: none

feat(rook-ceph): rook-ceph@local/rook-ceph-operator=v1.16.3,rook-ceph-cluster=v1.16.3,rook-ceph-dashboard=0.3.0
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/cephblockpool.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/cephcluster.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/cephfilesystem.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/cephobjectstore.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/deployment.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/securityContextConstraints.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/volumesnapshotclass.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/cluster-rbac.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/clusterrole.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/clusterrolebinding.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/configmap.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/deployment.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/psp.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/resources.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/role.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/rolebinding.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/securityContextConstraints.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/serviceaccount.yaml
  apps/rook-ceph/helmfile.lock
Labels: app/rook-ceph

feat(sops-operator): sops-operator@local/sops-operator=0.20.5
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/crds/isindir.github.com_sopssecrets.yaml
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/templates/cluster_role.yaml
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/templates/cluster_role_binding.yaml
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/templates/operator.yaml
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/templates/service_account.yaml
  apps/sops-operator/helmfile.lock
Labels: app/sops-operator

feat(argocd): argocd@local/argocd=3.35.4,argocd-ui=0.3.0,argocd-applicationset=1.12.1
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/crds/crd-applicationset.yaml
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/templates/deployment.yaml
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/templates/psp.yaml
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/templates/rbac.yaml
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/templates/service.yaml
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/templates/serviceaccount.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-aggregate-roles.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/clusterrole.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/clusterrolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/deployment.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/metrics-service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/role.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/rolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/serviceaccount.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-configs/argocd-cm.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-configs/argocd-gpg-keys-cm.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-configs/argocd-rbac-cm.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-configs/argocd-ssh-known-hosts-cm.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-configs/argocd-tls-certs-cm.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-repo-server/deployment.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-repo-server/role.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-repo-server/rolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-repo-server/serviceaccount.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/clusterrole.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/clusterrolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/deployment.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/metrics-service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/role.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/rolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/dex/deployment.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/dex/role.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/dex/rolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/dex/service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/dex/serviceaccount.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/redis/deployment.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/redis/metrics-service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/redis/service.yaml
  apps/argocd/helmfile.lock
Labels: app/argocd

feat(coredns): coredns@local/coredns=1.39.0
  apps/coredns/deploy/local/releases/coredns/coredns/templates/clusterrole.yaml
  apps/coredns/deploy/local/releases/coredns/coredns/templates/clusterrolebinding.yaml
  apps/coredns/deploy/local/releases/coredns/coredns/templates/configmap.yaml
  apps/coredns/deploy/local/releases/coredns/coredns/templates/deployment.yaml
  apps/coredns/deploy/local/releases/coredns/coredns/templates/service.yaml
  apps/coredns/helmfile.lock
Labels: app/coredns

feat(grafana): grafana@local/grafana=6.61.2,grafana-ui=2.0.7
  apps/grafana/deploy/local/releases/grafana/grafana/templates/clusterrole.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/clusterrolebinding.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/configmap.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/dashboards-json-configmap.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/deployment.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/podsecuritypolicy.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/pvc.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/role.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/rolebinding.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/service.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/serviceaccount.yaml
  apps/grafana/helmfile.lock
Labels: app/grafana

feat(metrics-server): metrics-server@local/metrics-server=3.12.2
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/apiservice.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/clusterrole-aggregated-reader.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/clusterrole.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/clusterrolebinding-auth-delegator.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/clusterrolebinding.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/deployment.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/rolebinding.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/service.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/serviceaccount.yaml
  apps/metrics-server/helmfile.lock
Labels: app/metrics-server

feat(pomerium): pomerium@local/pomerium-tls=1.1.0,pomerium=28.0.2,pomerium-ingress=2.0.7
  apps/pomerium/deploy/local/releases/pomerium/pomerium/templates/redis/password-secret.yaml
Labels: none

feat(rook-ceph): rook-ceph@local/rook-ceph-operator=v1.16.3,rook-ceph-cluster=v1.16.3,rook-ceph-dashboard=0.3.0
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/cephblockpool.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/cephcluster.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/cephfilesystem.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/cephobjectstore.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/deployment.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/securityContextConstraints.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/volumesnapshotclass.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/cluster-rbac.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/clusterrole.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/clusterrolebinding.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/configmap.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/deployment.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/psp.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/resources.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/role.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/rolebinding.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/securityContextConstraints.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/serviceaccount.yaml
  apps/rook-ceph/helmfile.lock
Labels: app/rook-ceph

feat(prometheus): prometheus@local/prometheus=15.18.0,prometheus-node-exporter=2.5.0
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/clusterrole.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/clusterrolebinding.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/cm.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/deploy.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/pvc.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/service.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/serviceaccount.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/clusterrole.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/clusterrolebinding.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/cm.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/deploy.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/pvc.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/service.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/serviceaccount.yaml
  apps/prometheus/helmfile.lock
Labels: app/prometheus

feat(snapshot-controller): snapshot-controller@local/snapshot-controller-webhook-ca=2.0.6,snapshot-controller=1.2.1,snapshot-validation-webhook=1.2.1
  apps/snapshot-controller/helmfile.lock
Labels: app/snapshot-controller

feat(sops-operator): sops-operator@local/sops-operator=0.20.5
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/crds/isindir.github.com_sopssecrets.yaml
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/templates/cluster_role.yaml
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/templates/cluster_role_binding.yaml
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/templates/operator.yaml
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/templates/service_account.yaml
  apps/sops-operator/helmfile.lock
Labels: app/sops-operator

feat(snapshot-controller): snapshot-controller@local/snapshot-controller-webhook-ca=2.0.6,snapshot-controller=1.2.1,snapshot-validation-webhook=1.2.1
  apps/snapshot-controller/helmfile.lock
Labels: app/snapshot-controller

feat(metrics-server): metrics-server@local/metrics-server=3.12.2
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/apiservice.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/clusterrole-aggregated-reader.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/clusterrole.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/clusterrolebinding-auth-delegator.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/clusterrolebinding.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/deployment.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/rolebinding.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/service.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/serviceaccount.yaml
  apps/metrics-server/helmfile.lock
Labels: app/metrics-server

feat(prometheus): prometheus@local/prometheus=15.18.0,prometheus-node-exporter=2.5.0
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/clusterrole.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/clusterrolebinding.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/cm.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/deploy.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/pvc.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/service.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/serviceaccount.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/clusterrole.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/clusterrolebinding.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/cm.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/deploy.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/pvc.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/service.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/serviceaccount.yaml
  apps/prometheus/helmfile.lock
Labels: app/prometheus

feat(snapshot-controller): snapshot-controller@local/snapshot-controller-webhook-ca=2.0.6,snapshot-controller=1.2.1,snapshot-validation-webhook=1.2.1
  apps/snapshot-controller/helmfile.lock
Labels: app/snapshot-controller

feat(argocd): argocd@local/argocd=3.35.4,argocd-ui=0.3.0,argocd-applicationset=1.12.1
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/crds/crd-applicationset.yaml
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/templates/deployment.yaml
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/templates/psp.yaml
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/templates/rbac.yaml
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/templates/service.yaml
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/templates/serviceaccount.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-aggregate-roles.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/clusterrole.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/clusterrolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/deployment.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/metrics-service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/role.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/rolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/serviceaccount.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-configs/argocd-cm.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-configs/argocd-gpg-keys-cm.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-configs/argocd-rbac-cm.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-configs/argocd-ssh-known-hosts-cm.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-configs/argocd-tls-certs-cm.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-repo-server/deployment.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-repo-server/role.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-repo-server/rolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-repo-server/serviceaccount.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/clusterrole.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/clusterrolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/deployment.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/metrics-service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/role.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/rolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/dex/deployment.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/dex/role.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/dex/rolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/dex/service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/dex/serviceaccount.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/redis/deployment.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/redis/metrics-service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/redis/service.yaml
  apps/argocd/helmfile.lock
Labels: app/argocd

feat(grafana): grafana@local/grafana=6.61.2,grafana-ui=2.0.7
  apps/grafana/deploy/local/releases/grafana/grafana/templates/clusterrole.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/clusterrolebinding.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/configmap.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/dashboards-json-configmap.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/deployment.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/podsecuritypolicy.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/pvc.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/role.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/rolebinding.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/service.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/serviceaccount.yaml
  apps/grafana/helmfile.lock
Labels: app/grafana

feat(coredns): coredns@local/coredns=1.39.0
  apps/coredns/deploy/local/releases/coredns/coredns/templates/clusterrole.yaml
  apps/coredns/deploy/local/releases/coredns/coredns/templates/clusterrolebinding.yaml
  apps/coredns/deploy/local/releases/coredns/coredns/templates/configmap.yaml
  apps/coredns/deploy/local/releases/coredns/coredns/templates/deployment.yaml
  apps/coredns/deploy/local/releases/coredns/coredns/templates/service.yaml
  apps/coredns/helmfile.lock
Labels: app/coredns

feat(metrics-server): metrics-server@local/metrics-server=3.12.2
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/apiservice.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/clusterrole-aggregated-reader.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/clusterrole.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/clusterrolebinding-auth-delegator.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/clusterrolebinding.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/deployment.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/rolebinding.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/service.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/serviceaccount.yaml
  apps/metrics-server/helmfile.lock
Labels: app/metrics-server

feat(minecraft): minecraft@local/velocity=0.3.0,minecraft-ingress=2.0.7,config-patches=1.1.0,adventure=3.6.7
  apps/minecraft/helmfile.lock
Labels: app/minecraft

feat(pomerium): pomerium@local/pomerium-tls=1.1.0,pomerium=28.0.2,pomerium-ingress=2.0.7
  apps/pomerium/deploy/local/releases/pomerium/pomerium/templates/redis/password-secret.yaml
  apps/pomerium/helmfile.lock
Labels: none

feat(prometheus): prometheus@local/prometheus=15.18.0,prometheus-node-exporter=2.5.0
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/clusterrole.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/clusterrolebinding.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/cm.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/deploy.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/pvc.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/service.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/serviceaccount.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/clusterrole.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/clusterrolebinding.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/cm.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/deploy.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/pvc.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/service.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/serviceaccount.yaml
  apps/prometheus/helmfile.lock
Labels: app/prometheus

feat(rook-ceph): rook-ceph@local/rook-ceph-operator=v1.16.3,rook-ceph-cluster=v1.16.3,rook-ceph-dashboard=0.3.0
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/cephblockpool.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/cephcluster.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/cephfilesystem.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/cephobjectstore.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/deployment.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/securityContextConstraints.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/volumesnapshotclass.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/cluster-rbac.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/clusterrole.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/clusterrolebinding.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/configmap.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/deployment.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/psp.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/resources.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/role.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/rolebinding.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/securityContextConstraints.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/serviceaccount.yaml
  apps/rook-ceph/helmfile.lock
Labels: app/rook-ceph

feat(snapshot-controller): snapshot-controller@local/snapshot-controller-webhook-ca=2.0.6,snapshot-controller=1.2.1,snapshot-validation-webhook=1.2.1
  apps/snapshot-controller/helmfile.lock
Labels: app/snapshot-controller

feat(sops-operator): sops-operator@local/sops-operator=0.20.5
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/crds/isindir.github.com_sopssecrets.yaml
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/templates/cluster_role.yaml
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/templates/cluster_role_binding.yaml
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/templates/operator.yaml
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/templates/service_account.yaml
  apps/sops-operator/helmfile.lock
Labels: app/sops-operator

feat(argocd): argocd@local/argocd=3.35.4,argocd-ui=0.3.0,argocd-applicationset=1.12.1
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/crds/crd-applicationset.yaml
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/templates/deployment.yaml
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/templates/psp.yaml
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/templates/rbac.yaml
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/templates/service.yaml
  apps/argocd/deploy/local/releases/argocd-applicationset/argocd-applicationset/templates/serviceaccount.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-aggregate-roles.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/clusterrole.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/clusterrolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/deployment.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/metrics-service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/role.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/rolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-application-controller/serviceaccount.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-configs/argocd-cm.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-configs/argocd-gpg-keys-cm.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-configs/argocd-rbac-cm.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-configs/argocd-ssh-known-hosts-cm.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-configs/argocd-tls-certs-cm.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-repo-server/deployment.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-repo-server/role.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-repo-server/rolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-repo-server/serviceaccount.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/clusterrole.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/clusterrolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/deployment.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/metrics-service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/role.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/rolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/argocd-server/service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/dex/deployment.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/dex/role.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/dex/rolebinding.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/dex/service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/dex/serviceaccount.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/redis/deployment.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/redis/metrics-service.yaml
  apps/argocd/deploy/local/releases/argocd/argo-cd/templates/redis/service.yaml
  apps/argocd/helmfile.lock
Labels: app/argocd

feat(coredns): coredns@local/coredns=1.39.0
  apps/coredns/deploy/local/releases/coredns/coredns/templates/clusterrole.yaml
  apps/coredns/deploy/local/releases/coredns/coredns/templates/clusterrolebinding.yaml
  apps/coredns/deploy/local/releases/coredns/coredns/templates/configmap.yaml
  apps/coredns/deploy/local/releases/coredns/coredns/templates/deployment.yaml
  apps/coredns/deploy/local/releases/coredns/coredns/templates/service.yaml
  apps/coredns/helmfile.lock
Labels: app/coredns

feat(grafana): grafana@local/grafana=6.61.2,grafana-ui=2.0.7
  apps/grafana/deploy/local/releases/grafana/grafana/templates/clusterrole.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/clusterrolebinding.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/configmap.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/dashboards-json-configmap.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/deployment.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/podsecuritypolicy.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/pvc.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/role.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/rolebinding.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/service.yaml
  apps/grafana/deploy/local/releases/grafana/grafana/templates/serviceaccount.yaml
  apps/grafana/helmfile.lock
Labels: app/grafana

feat(metrics-server): metrics-server@local/metrics-server=3.12.2
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/apiservice.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/clusterrole-aggregated-reader.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/clusterrole.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/clusterrolebinding-auth-delegator.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/clusterrolebinding.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/deployment.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/rolebinding.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/service.yaml
  apps/metrics-server/deploy/local/releases/metrics-server/metrics-server/templates/serviceaccount.yaml
  apps/metrics-server/helmfile.lock
Labels: app/metrics-server

feat(pomerium): pomerium@local/pomerium-tls=1.1.0,pomerium=28.0.2,pomerium-ingress=2.0.7
  apps/pomerium/deploy/local/releases/pomerium/pomerium/templates/redis/password-secret.yaml
  apps/pomerium/helmfile.lock
Labels: none

feat(minecraft): minecraft@local/velocity=0.3.0,minecraft-ingress=2.0.7,config-patches=1.1.0,adventure=3.6.7
  apps/minecraft/helmfile.lock
Labels: app/minecraft

feat(prometheus): prometheus@local/prometheus=15.18.0,prometheus-node-exporter=2.5.0
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/clusterrole.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/clusterrolebinding.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/cm.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/deploy.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/pvc.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/service.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/alertmanager/serviceaccount.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/clusterrole.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/clusterrolebinding.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/cm.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/deploy.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/pvc.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/service.yaml
  apps/prometheus/deploy/local/releases/prometheus/prometheus/templates/server/serviceaccount.yaml
  apps/prometheus/helmfile.lock
Labels: app/prometheus

feat(rook-ceph): rook-ceph@local/rook-ceph-operator=v1.16.3,rook-ceph-cluster=v1.16.3,rook-ceph-dashboard=0.3.0
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/cephblockpool.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/cephcluster.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/cephfilesystem.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/cephobjectstore.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/deployment.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/securityContextConstraints.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-cluster/rook-ceph-cluster/templates/volumesnapshotclass.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/cluster-rbac.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/clusterrole.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/clusterrolebinding.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/configmap.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/deployment.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/psp.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/resources.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/role.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/rolebinding.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/securityContextConstraints.yaml
  apps/rook-ceph/deploy/local/releases/rook-ceph-operator/rook-ceph/templates/serviceaccount.yaml
  apps/rook-ceph/helmfile.lock
Labels: app/rook-ceph

feat(sops-operator): sops-operator@local/sops-operator=0.20.5
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/crds/isindir.github.com_sopssecrets.yaml
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/templates/cluster_role.yaml
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/templates/cluster_role_binding.yaml
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/templates/operator.yaml
  apps/sops-operator/deploy/local/releases/sops-operator/sops-secrets-operator/templates/service_account.yaml
  apps/sops-operator/helmfile.lock
Labels: app/sops-operator

.github/labeler.yml:

documentation: [docs/**/*, "**/README.md"]
changelog: ["**/CHANGELOG.md"]
app/argocd: [apps/argocd/**/*]
app/cert-manager: [apps/cert-manager-tls/**/*]
app/coredns: [apps/coredns/**/*]
app/metrics-server: [apps/metrics-server/**/*]
app/rook-ceph: [apps/rook-ceph/**/*]
app/sops-operator: [apps/sops-operator/**/*]
app/traefik: [apps/traefik/**/*]
app/grafana: [apps/grafana/**/*]
app/snapshot-controller: [apps/snapshot-controller/**/*]
app/prometheus: [apps/prometheus/**/*]
app/minecraft: [apps/minecraft/**/*]
